* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#Title {
    font-size: 2rem;
    font-weight: bold;
    padding: 1rem;
    text-align: center;
    border-bottom: solid 1px lightgray;
}

.Projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: solid 1px lightgray;
}

.calc {
    text-align: center;
    padding: 1rem;
}


.this-calc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightskyblue;
    margin: 1rem;   /*container's distance from other containers*/
    padding: 1rem; /*The distance of the contents of the container from the border*/
    width: 20rem;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.this-calc h2 {
    padding: 1rem;;
}


.actual-calc {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    width: 100%;
}


#screen {
    grid-column-start: 1;
    grid-column-end: 6;
    background-color: aliceblue;
    height: 2.5rem;
}


#Equal {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#Add {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


#Subtract {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}


#Multiply {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

#Divide {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Clear {
    grid-column-start: 1;
    grid-column-end: 6;
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}


#One {
    background-color: lightcoral;
    border-radius: 5px;
    text-align: center;
}

#Two {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Three {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Four {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Five {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Six {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Seven {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Eight {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Nine {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

#Zero {
    text-align: center;
    background-color: lightcoral;
    border-radius: 5px;
}

.weather-hub {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

#output {
    text-align: center;
    background-color: aliceblue;
    border-radius: 5px;
    padding: 1rem;
    width: 100%;
}


